main {
  position: relative;
  display: block;
  text-align: center;
  min-height: 100%;
  padding: 50px 0 0;
  box-sizing: border-box;
  align-items: center;
  background: #ff2e65;

  .wrapper {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0 auto 120px;
  }

  .mic {
    position: relative;
    background-image: url(/assets/images/mic.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ff88a4;
    height: 100px;
    width: 100px;
    margin: 100px auto 50px;
    border-radius: 50%;
    cursor: pointer;

    &.active {

      &:before {
        content: "";
        left: -10px;
        top: -10px;
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        animation-fill-mode: both;
        position: absolute;
        opacity: 0;
        animation: jumper 1.3s 0.33333s ease-out infinite;
        box-shadow: none;
      }

      &:after {
        left: -10px;
        top: -10px;
        content: "";
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        animation-fill-mode: both;
        position: absolute;
        opacity: 0;
        animation: jumper 1.3s 0.66666s ease-out infinite;
        box-shadow: none;
      }

    }

    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      left: 0;
      top: 0;
      border-radius: 50%;
      box-shadow: 0 0 60px 20px #fff;
    } 

    &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      left: 0;
      top: 0;
      border-radius: 50%;
      box-shadow: 0 0 50px 15px #ff2e65;
    } 
  }
  
  

  .examples {
    clear: both;
    float: none;
    display: block;
    bottom: 0;
    width: 100%;
    background: #232029;
    padding: 50px;
    box-sizing: border-box;

    ul {
      list-style: none;
      text-align: left;
      background: rgba(255, 255, 255, 0.1);
      margin: 0;
      padding: 20px;
      color: #fff;
      border-radius: 3px;
    }

    li {
      font-size: 16px;
      margin: 10px 0 10px 20px;
      font-style: italic;

      span {
        font-family: initial;
        font-size: 32px;
        line-height: 20px;
        vertical-align: middle;
      }
    }
  }


}



