<header>
	<a class="logo" [routerLink]="['/']"></a>
</header>

<main>
	<div class="wrapper">
		
		<h1>Hey! This is your Kaunas info guide.</h1>
		<p>Say, how may I help you?</p>

		<div class="mic" (click)="startRecognition($event)" [ngClass]="{active: recording}"></div>

	</div>

	<div class="examples">
		
		<p>Here's something you can ask about...</p>

		<ul>
			<li><span>“</span>I want to book Kaunas city tour</li>
			<li><span>“</span>What are the best restaurants around here?</li>
			<li><span>“</span>Where can I find a pharmacy?</li>
		</ul>
	</div>
</main>
